.cart {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 426px) {
        grid-column: 2/3;
    }

    @media screen and (min-width: 1025px) {
        grid-column: 3/4;
    }

    &__order {
        &__empty{
            font-size: 16px;
            font-weight: 200;
        }

        h2 {
            margin-top: 30px;
            padding: 15px 60px;
            text-align: right;
            font-size: 20px;
            font-weight: 700;
            color: var(--white);
            background-color: var(--light-greytwo);

            .currency {
                font-size: 12px;
            }
        }
    }

    &__order__products {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    &__checkout {
        align-self: flex-end;
        cursor: pointer;
        background-color: transparent;
        border: 2px solid var(--magenta-color);
        margin-top: 20px;
        padding: 15px 60px;
        width: 100%;

        &:hover {
            background-color: var(--magenta-color);
        }

        &:hover .cart__checkout__text {
            color: var(--white);
        }

        &__text {
            font-size: 16px;
            color: var(--magenta-color);
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 10px;
            transition: all .2s;
        }
    }
}