.hero {
    position: relative;
    display: flex;
    justify-content: center;

    padding: 100px 0;

    h1 {
        z-index: 10;
        font-size: 40px;
        line-height : 35px;
        font-weight: 900;
    
        @media screen and (min-width: 1200px) {
            font-size: 80px;
            line-height : 75px;
        }
    
    }

    &__shop {
        color: var(--magenta-color);
    }

    &__line {
        z-index: 5;
        position: absolute;
        left: 10%;
        bottom: 37%;

        height: 3%;
        width: 100px;
        background-color: var(--magenta-color);

        @media screen and (min-width: 426px) {
            left: 28%;
        }

        @media screen and (min-width: 1200px) {
            left: 32%;
            bottom: 30%;
    
            width: 250px;
        }
    }
}