.logo {
    width: 70%;
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }

    @media screen and (min-width: 426px) {
        width: 30%;
    }

    @media screen and (min-width: 1200px) {
        width: 20%;
    }
}

