@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700;900&display=swap");

:root {
    --white: #fff;
    --light-grey: #e1e1e1;
    --light-greytwo: #3d3a50;
    --dark-gray: #1a1c22;
    --light-magenta: #ffd1e3;
    --magenta-color: #e51c6d;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0px;
}

body {
    font-family: 'Montserrat', sans-serif;;
    font-size: 1.6rem;
}

p {
    font-size: 2rem;
}

.container {
    max-width: 85%;
    margin: 0 auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

h1, h2, h3, h4 {
    margin:0;
}